.left-side{
	-webkit-transform: rotate(-30deg) scale(1.25, 1.25);
}

.center{

	-webkit-transform: ranslateX(20px) scale(1.25, 1.25);
	
}

.right-side{
	-webkit-transform: rotate(30deg) scale(1.25, 1.25);
}


.wrapper
{
	
}